body {
    background-color: black; /* Achtergrondkleur zwart maken */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Volledige hoogte van het venster gebruiken */
    overflow: hidden; /* Voorkomt scrollbars */
}

#intro-video {
    width: 200%; /* Breedte van de videospeler aanpassen */
    height: 100%; /* Hoogte automatisch aanpassen aan de breedte */
}
